body {
    font-family: Arial, Helvetica, sans-serif;
}

.link-list {
    background-color: lightgrey;
    text-align: center;
    border: 2px solid black;
    margin: 50px 50px;
    padding: 20px;
}

.list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.odin-recipes {
    text-align: center;
    font-size: 50px;
}

.heading {
    font-family: Georgia, serif;
}